/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');



/* Стилі для контейнера, щоб лоадер був по центру */
.loader-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Сам лоадер з бібліотеки css-loader */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  /* Колір основної лінії */
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Клас для приховування */
.is-hidden {
  display: none;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form input:hover {
  border-color: #000;
}

.form button {
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
  list-style: none;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  min-width: 320px;
  max-width: 360px;
  border: 1px solid #808080;
  background-color: #fff;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.info-item span {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}